.containerCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 1.3;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
  }